{% extends 'base.html' %}

{% block content %}

{% if success %}
<div class="row">
    <div class="col-md-12">
        <div class="card card-body h-100">
            <p class="h5 m-4">
                Thanks you for your message, I will answer You soon as possible.
            </p>
            <hr>
        </div>
    </div>
</div>
{% else %}
<p class="h5 m-4">If You have additional questions, be free to contact me.</p>
<hr>
<br>
<form action="" method="POST" novalidate>
    {{ form.hidden_tag() }}
    <div class="messages"></div>
    <div class="controls">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="form_name">Name</label>
                    <input id="form_name" type="text" name="name" class="form-control"
                        placeholder="Please enter your name..." required="required" data-error="Name is required.">
                    <div class="help-block with-errors"></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="form_subject">Subject</label>
                    <input id="form_subject" type="text" name="subject" class="form-control"
                        placeholder="Please enter mail subject..." required="required"
                        data-error="Subject is required.">
                    <div class="help-block with-errors"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="form_email">Email</label>
                    <input id="form_email" type="email" name="email" class="form-control"
                        placeholder="Please enter your email..." required="required"
                        data-error="Valid email is required.">
                    <div class="help-block with-errors"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="form_message">Message</label>
                    <textarea id="form_message" name="message" class="form-control" placeholder="Message for me..."
                        rows="4" required="required" data-error="Please, leave us a message."></textarea>
                    <div class="help-block with-errors"></div>
                </div>
            </div>
            <div class="col-md-12">
                <input type="submit" class="btn btn-secondary btn-send" value="Send message" style="float: right">
            </div>
        </div>
    </div>
</form>
{% endif %}

{% endblock content %}