{% extends 'base.html' %}

{% block content %}
<br>
<div class="row">
    <div class="col-md-4">
        <div class="card card-body h-100" id="prof-wrap">
            <img id="prof-picture" src="{{ url_for('static', filename='images/moa.jpg') }}">
            <hr>
            <h3>Vladimir Mijatovic</h3>
            <hr>
            <ul>
                <li>14.04.1986.</li>
                <li>063/80-33-723</li>
                <li>Matice Srpske 97, 11000 Beograd</li>
            </ul>
            <ul class="links">
                <li>
                    <a>
                        <img class="social" src="{{ url_for('static', filename='images/gmail.png') }}">
                        mijatovski@gmail.com
                    </a>
                </li>
                <li>
                    <a href="https://github.com/prrPigeon">
                        <img class="social" src="{{ url_for('static', filename='images/github.png') }}"> GitHub page
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/vladimir-mijatovic-96b63018a/">
                        <img class="social" src="{{ url_for('static', filename='images/linkedin.png') }}"> Linkedin
                        Account
                    </a>
                </li>

            </ul>
        </div>
    </div>

    <div class="col-md-8">
        <div class="card card-body h-100">
            <h3>About Me</h3>
            <hr>
            <p>Courteous and enthusiastic, self motivated developer, I am interested in web development and everything
                what is close to it e.g. developing
                applications, building websites and managing databases. Everything starts when I try to make simple
                Python
                script witch will classify my download folder, that each of extension be put in folder of the same name as
                extension,
                after I made this one, I was really thrilled and everything else comes natural to me (of course with a lot of learning).
            </p>
            <p>Just regular human being who is loving to cook all kind of world cuisines, big fan of classical literature and music, science fiction and comics.
            </p>
            <p>Last 2+ years with excitement involved in different kind of project, mostly web development (proffesional and
                private), exposed to
                different kind of current tehnologies.
            </p>
            <p> Also willing to learn all new tehnologies which will improve my knowledge in this branch.
                I have gained experience by working in this area. I am threfore currently looking for a job as
                fullstack/ backend developer.
            </p>
            <p>Passionate about programming, biking and nature.</p>
            <p>Animal lover, I have two dogs and a parrot for now.</p>
            <p>One of life’s philosophies:</p>
            <blockquote class="numberone">
                If you want to win, you must not lose!
                <p style="float: right;"> Number One</p>
            </blockquote>

        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-12">
        <div class="card card-body h-100">
            <h5>Work Experience</h5>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-12">
        <div class="card card-body h-100">
            <h6>lukic & geenan consulting GmbH, GroÃŸ-Umstadt, Hessen, Germany <p style="float: right;">01/2020 -
                    02/2020</p>
            </h6>
            <strong>Freelance Job/ Remote position</strong>
            <hr>
            <p>Tehnologies used:</p>
            <ul>
                <li>HTML5, CSS3</li>
                <li>JavaScript, Ajax</li>
                <li>Python 3.7.4/Django 3.0</li>
                <li>PostgreSQL 11.6</li>
            </ul>
            <p>This Django project was to show changes on displays which are exposed in their partner company. JSON
                string was received
                and it's needed to be parsed and saved to database (PostgreSQL). Ajax is implemented to check specific
                address
                on every three minute and if there are changes, depends on previously saved timestamp, it will display
                new values, and depends of oscillations to previous month will be colored (red for decreased and green for
                increased). It's needed to be
                checked if the properly JSON  is received, to ensure that nothing else can be saved to database.
                Everything was done in production, because
                the enviroment is allready provided on Apache 2.4 with Python 3.7.4, Django 3.0 and a PostgreSQL 11.6</p>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-12">
        <div class="card card-body h-100">
            <h6>DSTV Multimedia, Djordja Stanojevica 9G, Beograd <p style="float: right">07/2019 - 01/2020</p>
            </h6>
            <strong> Software Developer</strong>
            <hr>
            <p>Tehnologies used:</p>
            <ul>
                <li>HTML5, CSS3</li>
                <li>Python/Flask</li>
                <li>PostgreSQL</li>
            </ul>
            <p>Working with the legacy code (Python/Flask, PostgreSQL). Project was stopped seven years ago, and every
                documentation about project was
                lost. My job was to create all documentation (specifications, GitHub repositories, wiki pages) and
                development of  new features for this application.
                CMS application was created to manage and maintained internal business for this company (payments,
                users, subscriptions, service providers,
                proxy servers etc). This company is one of the leader in online streaming field (online television), and
                target group is Serbian people in diaspora.
                My job, after analizing project, was to add new feature where users can add their own urls (links, M3U
                lists) in delivered page, that they can watch
                those links too. Requirements was to users can be logged on specific page, only if they previously added
                by admin (dashboard user) to
                subcribed users. It was quite chalenge, because I should have to downgrade my knowldge about Flask
                framework to version before seven
                years, where lot of library's and packages which today is integrated in Flask, was not. First thing was
                to chew SQlAlchemy alone and write API , today SQlAlchemy
                is integrated to Flask as Flask-SQLAlchemy, in this case it help me a lot previously knowladge about
                Object Relation Mapper from Django
                framework. Lot of requirements in this application was obsolete and everything is needed to be enhanced
                to usable versions. It was actually another application which share database with main application,
                because it was necessary to both of them running on different
                servers where when user ask for page where they can add urls, admin user send then url where login
                page for
                this feature is delivered.</p>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-12">
        <div class="card card-body h-100">
            <h5>Other Experience</h5>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-12">
        <div class="card card-body h-100">
            <p>Tehnologies used:</p>
            <p>
                <ul>
                    <li>HTML5, CSS3</li>
                    <li>Python/Flask, Python/Django</li>
                    <li>PostgreSQL</li>
                </ul>
                <ul style="float: right;">
                    <li>Bootstrap 3, 4</li>
                    <li>MySQl, PostgreSQL</li>
                    <li>JavaScript, Vue.js</li>
                </ul>
            </p>
            <p> Other experience is related to time in which i study related tehnologies, because "hand on projects"
                plus documentation are
                in my case best resource for learning new tehnologies. In that period I spent lot off time on
                "Reinventing the wheel"
                application, some of them are on my GitHub page and include Blog application, Todo application, Diary
                application, and some more advanced, Online Shop Store (Django and started one in Flask), Weather
                Applicaton (Open Weather App
                API), YouTube search videos app (YouTube API). I spent lot of time by making API-s(WEB API-s) in Django and Flask, for querying database,
                scaling database, making database schemas etc. 
            </p>
            </p>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-6">
        <div class="card card-body h-100">
            <h5>What I Know</h5>
            <hr>
            <p>
                By now I am familiar with:
                <ul>
                    <li>HTML5</li>
                    <li>CSS3</li>
                    <li>Sass</li>
                    <li>Python 2.x/ Python 3.x</li>
                    <li>Django Framework/ Django Rest Framework</li>
                    <li>Flask Framework/ Flask RESTful</li>
                    <li>JavaScript(>ES6)</li>
                    <li>Bootstrap 3, 4</li>
                    <li>PostgreSQL 10, 11/ MySQL</li>
                    <li>Git/ GitHub</li>
                </ul>
            </p>

        </div>
    </div>
    <br>
    <div class="col-md-6">
        <div class="card card-body h-100">
            <h5>and...</h5>
            <hr>
            <p>
                Currently studying and -familiar with:
                <ul>
                    <li>Vue.js</li>
                    <li>Golang</li>
                    <li>Redis</li>
                    <li>Bash Scripting</li>
                </ul>
            </p>
            <p>
                Operational Systems:
                <ul>
                    <li>Linux (Ubuntu 18.04, Fedora 29)</li>
                    <li>Windows 10</li>
                </ul>
            </p>
            <p>
                Languages:
                <ul>
                    <li>Serbian/ Native</li>
                    <li>English/ Written and verbal</li>
                </ul>
            </p>

        </div>
    </div>
</div>
<br>
{% endblock content %}